@charset "UTF-8";
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  border: 1px solid #EAF0ED;
}

input:focus {
  outline: none;
  border: 1px solid #ccdbd4;
  z-index: 3;
}

input::-webkit-input-placeholder {
  color: #8DA291;
}

input:-ms-input-placeholder {
  color: #8DA291;
}

input::-ms-input-placeholder {
  color: #8DA291;
}

input::placeholder {
  color: #8DA291;
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-brand {
  margin: 0;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  text-indent: 101%;
  /* 首行縮排 */
  overflow: hidden;
  /* 自動隱藏超出的文字或圖片 */
  white-space: nowrap;
  /* 希望元素在第一排上面，沒有斷行 */
  display: block;
}

.logo-all {
  background: url("../img/logo-all-dark.svg") no-repeat;
  background-position: center;
  width: 220px;
  height: 40px;
}

.logo-white {
  background: url("../img/logo-white.svg") no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
}

.logo-text {
  background: url("../img/logo-text.svg") no-repeat;
  background-position: center;
  width: 170px;
  height: 40px;
}

.carousel {
  position: relative;
  height: calc(75vh - 56px);
}

.carousel .carousel-inner {
  height: 100%;
}

.carousel-index {
  position: relative;
  height: calc(100vh - 56px);
}

.carousel-inner {
  position: relative;
  width: 100%;
  height: 75%;
  overflow: hidden;
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  height: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.carousel-item.active {
  display: block;
}

.carousel-item img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu li {
  background-size: cover;
  background-position: center;
}

.menu li + li {
  border-left: 1px solid #fff;
}

.menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  letter-spacing: .5rem;
  color: #fff;
  background: rgba(63, 93, 69, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.menu a:hover {
  color: #3F5D45;
  font-weight: bold;
  background: rgba(255, 225, 128, 0.8);
}

@media (min-width: 768px) {
  .article li {
    background: #EAF0ED;
    height: 280px;
  }
}

@media (min-width: 1024px) {
  .article li {
    height: 420px;
  }
}

@media (min-width: 768px) {
  .article li + li {
    margin-top: 105px;
  }
}

@media (min-width: 768px) {
  .article-img {
    -webkit-transform: translateY(-1.25rem);
            transform: translateY(-1.25rem);
  }
}

.article-md-title {
  text-align: center;
}

@media (min-width: 768px) {
  .article-md-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-align: start;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    text-indent: -1.25em;
  }
}

.article-title {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-indent: -1.25em;
}

.article-text {
  padding: 30px;
  background: #EAF0ED;
}

@media (min-width: 768px) {
  .article-text {
    padding-left: 10px;
    padding-right: 10px;
    height: 280px;
    background: transparent;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
  }
}

@media (min-width: 1024px) {
  .article-text {
    padding-top: 70px;
    padding-bottom: 70px;
    height: 420px;
    background: transparent;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
  }
}

.ratio {
  position: relative;
  width: 100%;
}

.ratio::before {
  display: block;
  padding-top: var(--bs-aspect-ratio);
  content: "";
}

.ratio > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ratio-20x21 {
  --bs-aspect-ratio: calc(21 / 20 * 100%);
}

.ratio-3x2 {
  --bs-aspect-ratio: calc(2 / 3 * 100%);
}

.ratio-1x1 {
  --bs-aspect-ratio: 100%;
}

@media (min-width: 768px) {
  .ratio-md-1x1 {
    --bs-aspect-ratio: 100%;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-body div {
  border-top: 1px solid #EAF0ED;
  border-left: 1px solid #EAF0ED;
  border-bottom: 1px solid #EAF0ED;
}

.card-body div + div {
  border-right: 1px solid #EAF0ED;
}

.card-text {
  margin: 0;
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: center;
  line-height: 1;
}

.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
}

.btn-dark {
  color: #3F5D45;
  background-color: #EAF0ED;
  border-color: #EAF0ED;
}

.btn-dark:hover {
  background-color: #ccdbd4;
}

.btn-info {
  color: #3F5D45;
  background-color: #FFE180;
  border-color: #FFE180;
}

.btn-info:hover {
  background-color: #ffd54d;
}

.btn-outline-dark {
  color: #3F5D45;
  background-color: #fff;
  border-color: #EAF0ED;
}

.btn-outline-dark:hover {
  background-color: #EAF0ED;
}

.input-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.pagination li + li {
  margin-left: -1px;
}

.pagination .active .page-link {
  background: #3F5D45;
  color: #EAF0ED;
}

.page-link {
  position: relative;
  display: block;
  color: #3F5D45;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #EAF0ED;
}

.page-link:hover {
  background-color: #EAF0ED;
}

.badge {
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  line-height: 1;
  color: #EAF0ED;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

.text-vertical {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.letter-base {
  letter-spacing: .25rem;
}

.overlapping-end {
  margin-right: -1px;
}
/*# sourceMappingURL=custom.css.map */