// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../bootstrap/scss/functions";

// 2. Include any default variable overrides here
$primary:       #3F5D45;
$secondary:     #8DA291;
$info:          #FFE180;
$dark:          #EAF0ED;

$grid-gutter-width:     1.25rem;
$container-padding-x:   30px;
// 3. Include remainder of required Bootstrap stylesheets
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
$theme-colors: map-remove($theme-colors, 
    "success", 
    "warning", 
    "danger", 
    "light"
);
$spacers: (
    0: 0,
    1: $spacer * .5,
    2: $spacer * .625,
    3: $spacer,
    4: $spacer * 1.25,
    5: $spacer * 1.5,
    6: $spacer * 1.875,
    7: $spacer * 3.75,
    8: $spacer * 4.25,
    9: $spacer * 5
);
$gutters: $spacers;
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 1024px
);
$grid-breakpoints: map-remove($grid-breakpoints,
    "xl",
    "xxl"
);
$container-max-widths: (
    sm: 375px,
    md: 720px,
    lg: 1000px
);
$container-max-widths: map-remove($container-max-widths,
    "xl",
    "xxl"
); 

$link-decoration:   none;

@import "../bootstrap/scss/utilities";

// 4. Include any optional Bootstrap components as you like
@import "../bootstrap/scss/root";
@import "../bootstrap/scss/reboot";
@import "../bootstrap/scss/type";
@import "../bootstrap/scss/images";
@import "../bootstrap/scss/containers";
@import "../bootstrap/scss/grid";
// 5. Add additional custom code here


@import "../bootstrap/scss/utilities/api";