$primary:       #3F5D45;
$secondary:     #8DA291;
$info:          #FFE180;
$dark:          #EAF0ED;

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sticky-top {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.navbar-brand {
    margin: 0;
}
.navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    text-indent:101%; /* 首行縮排 */
    overflow:hidden; /* 自動隱藏超出的文字或圖片 */
    white-space:nowrap; /* 希望元素在第一排上面，沒有斷行 */
    display: block;

    &-all{
        background: url('../img/logo-all-dark.svg') no-repeat;
        width: 220px;
        height: 40px;
    }

    &-white{
        background: url('../img/logo-white.svg') no-repeat;
        width: 40px;
        height: 40px;
    }

    &-text{
        background: url('../img/logo-text.svg') no-repeat;
        width: 170px;
        height: 40px;
    }
}
.carousel {
    position: relative;
    height: calc(100vh - 56px);
}
.carousel-inner {
    position: relative;
    width: 100%;
    height: 75%;
    overflow: hidden;
}
.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    height: 100%;
    margin-right: -100%;
    backface-visibility: hidden;

    &.active {
        display: block;
    }

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.menu {
    display: flex;

    li {
        background-size: cover;
        background-position: center;

        & + li {
            border-left: 1px solid #fff;
        }
    }

    a {
        display: flex;
        justify-self: center;
        align-items: center;
        width: 100%;
        writing-mode: vertical-rl;
        letter-spacing: .5rem;
        color: #fff;
        background: rgba($primary, .8);
        backdrop-filter: blur(5px);

        &:hover{
            color: $primary;
            font-weight: bold;
            background: rgba($info, .8);
        }
    }
}
.article{
    li{
        height: 420px;

        & + li{
            margin-top: 105px;
        }
    }

    &-img{
        transform: translateY(-1.25rem);
    }

    &-title{
        writing-mode: vertical-rl;
        text-indent: -1.25em;
    }
    &-text{
        padding: 70px 0;
        height: 420px;
        writing-mode: vertical-rl;
    }
}
.ratio {
    position: relative;
    width: 100%;
}

.ratio::before {
    display: block;
    padding-top: var(--bs-aspect-ratio);
    content: "";
}

.ratio > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ratio-1x1 {
    --bs-aspect-ratio: 100%;
}
.ratio-300x315 {
    --bs-aspect-ratio: calc(315 / 300 * 100%);
}
.card {
    display: flex;
    flex-direction: column;

    &-body{
        div {
            border-top: 1px solid $dark;
            border-left: 1px solid $dark;
            border-bottom: 1px solid $dark;

            & + div {
                border-right: 1px solid $dark;
            }
        }
    }

    &-text {
        margin: 0;
        padding: 18px 0;
        text-align: center;
        line-height: 1;
    }
}
.btn{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
}
.btn-dark{
    color: $primary;
    background-color: $dark;
    border-color: $dark;
}
.btn-info{
    color: $primary;
    background-color: $info;
    border-color: $info;
}
.input-group{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.input-enter{
    flex: 1 0 0;

    &:focus{
        outline: none;
    }
}