@import "../bootstrap/scss/functions";

// 2. Include any default variable overrides here
$primary:       #3F5D45;
$secondary:     #8DA291;
$info:          #FFE180;
$dark:          #EAF0ED;

$grid-gutter-width: 1.25rem;
// 3. Include remainder of required Bootstrap stylesheets
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
$theme-colors: map-remove($theme-colors, 
    "success", 
    "warning", 
    "danger", 
    "light"
);
$spacers: (
    0: 0,
    1: $spacer * .5,
    2: $spacer * .6.25,
    3: $spacer,
    4: $spacer * 1.25,
    5: $spacer * 1.5,
    6: $spacer * 1.875,
    7: $spacer * 3.75,
    8: $spacer * 4.25,
    9: $spacer * 5
);
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px
);
$grid-breakpoints: map-remove($grid-breakpoints,
    "xl",
    "xxl"
);
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px
);
$container-max-widths: map-remove($container-max-widths,
    "xl",
    "xxl"
);

$link-decoration:   none;


ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sticky-top {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.navbar-brand {
    margin: 0;
}
.navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    text-indent:101%; /* 首行縮排 */
    overflow:hidden; /* 自動隱藏超出的文字或圖片 */
    white-space:nowrap; /* 希望元素在第一排上面，沒有斷行 */
    display: block;

    &-all{
        background: url('../img/logo-all-dark.svg') no-repeat;
        width: 220px;
        height: 40px;
    }

    &-white{
        background: url('../img/logo-white.svg') no-repeat;
        width: 40px;
        height: 40px;
    }

    &-text{
        background: url('../img/logo-text.svg') no-repeat;
        width: 170px;
        height: 40px;
    }
}
.carousel {
    position: relative;
    height: calc(100vh - 56px);
}
.carousel-inner {
    position: relative;
    width: 100%;
    height: 75%;
    overflow: hidden;
}
.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    height: 100%;
    margin-right: -100%;
    backface-visibility: hidden;

    &.active {
        display: block;
    }

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.menu {
    display: flex;

    li {
        background-size: cover;
        background-position: center;

        & + li {
            border-left: 1px solid #fff;
        }
    }

    a {
        display: flex;
        justify-self: center;
        align-items: center;
        width: 100%;
        writing-mode: vertical-rl;
        letter-spacing: .5rem;
        color: #fff;
        background: rgba($primary, .8);
        backdrop-filter: blur(5px);

        &:hover{
            color: $primary;
            font-weight: bold;
            background: rgba($info, .8);
        }
    }
}
.article{
    li{
        @include media-breakpoint-up(md){
            background: $dark;
            height: 300px;
        }
        @include media-breakpoint-up(lg){
            height: 420px;
        }

        & + li{
            @include media-breakpoint-up(md){
                margin-top: 105px;
            }
        }
    }

    &-img{
        @include media-breakpoint-up(md){
            transform: translateY(-1.25rem);
        }
    }

    &-md-title{
        text-align: center;
        @include media-breakpoint-up(md){
            display: flex;
            align-items: flex-end;
            text-align: start;
            writing-mode: vertical-rl;
            text-indent: -1.25em;
        }
    }
    &-title{
        writing-mode: vertical-rl;
        text-indent: -1.25em;
    }

    &-text{
        padding: 30px;
        background: $dark;
        @include media-breakpoint-up(md){
            padding-left: 0;
            padding-right: 0;
            height: 300px;
            background: transparent;
            writing-mode: vertical-rl;
        }

        @include media-breakpoint-up(lg){
            padding-top: 70px;
            padding-bottom: 70px;
            height: 420px;
            background: transparent;
            writing-mode: vertical-rl;
        }
    }
}
.ratio {
    position: relative;
    width: 100%;
}

.ratio::before {
    display: block;
    padding-top: var(--bs-aspect-ratio);
    content: "";
}

.ratio > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ratio-20x21 {
    --bs-aspect-ratio: calc(21 / 20 * 100%);
}
.ratio-3x2 {
    --bs-aspect-ratio: calc(2 / 3 * 100%);
}
.ratio-md-1x1 {
    @include media-breakpoint-up(md){
        --bs-aspect-ratio: 100%;
    }
}
.card {
    display: flex;
    flex-direction: column;

    &-body {
        div {
            border-top: 1px solid $dark;
            border-left: 1px solid $dark;
            border-bottom: 1px solid $dark;

            & + div {
                border-right: 1px solid $dark;
            }
        }
    }

    &-text {
        margin: 0;
        padding-top: 18px;
        padding-bottom: 18px;
        text-align: center;
        line-height: 1;
    }
}
.btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
}
.btn-dark {
    color: $primary;
    background-color: $dark;
    border-color: $dark;
}
.btn-info {
    color: $primary;
    background-color: $info;
    border-color: $info;
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}