// @import './base/base';
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.quote{
    padding: 40px;
    font-size: 40px;
    font-weight: bold;
    writing-mode: vertical-rl;
}

// @import './layout/header';
.logo{
    display: inline-block;
    background: url('../img/logo.svg') no-repeat;
    width: 40px;
    height: 40px;
    padding-right: 10px;

    &-mobile{
        display: inline-block;
        background: url('../img/logo-text.svg') no-repeat;
        width: 170px;
        height: 26px;
    }
}

// @import './module/banner';
.banner{
    background: url('../img/walnutpie.jpg') center;
    background-size: 150%;
    height: 100vh;
}

// @import './helpers/.replaceText';
.replaceText{
    text-indent:101%; 
    overflow:hidden; 
    white-space:nowrap;
}
