.logo{
    width: 40px;
    height: 40px;
}
.site-logo{
    width: 220px;
    height: 40px;
}
.mobile-logo{
    display: inline-block;
    background: url('../img/logo-text.svg') no-repeat;
    width: 170px;
    height: 26px;
}